.modal {
    width: 879px;
    height: 945px;
    position: absolute;
    top: 551px;
    left: 320px;
    border: 1px solid #ccc;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    border-radius: 12px;
    outline: none;
    padding: 20px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    box-shadow: 0 1px 66px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(244, 242, 240, 0.85);
}

.modal-title {
    margin: 69px 0 0 0;
    font-size: 80px;
    text-align: center;
    color: #c9a143;
}

.modal-content {
    margin: 128px 0 0 152px;
    font-size: 50px;
    color: #3c3c3c;
}

.modal-font {
    font-family: KristenITC-regular, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
}

.modal-button {
    width: 225px;
    height: 107px;
    border-radius: 60px;
    border: solid 1px #989797;
    background-color: #fffbe2;
    text-align: center;
    color: #acacac;
    letter-spacing: -1px;
    font-size: 50px;
}