.navigation-bar {
    margin: 210px 0 0 0;
}

.control-button {
    width: 500px;
    height: 320px;
    margin: 0 0 0 217px;
}

.task-button {
    width: 500px;
    height: 320px;
    margin: 0 0 0 111px;
}