.task-panel {
    margin: 107px 0 90px 0;
}

.task-panel-btn {
    display: block;
    width: 300px;
    height: 170px;
    font-size: 70px;
    font-family: KristenITC-regular, serif;
    color: #686666;
    background: #fffbe2;
    border: inset 1px #707070;
    border-radius: 50%;
    -moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
}

#create-btn {
    margin-left: auto;
    margin-right: 95px;
}

#delete-btn {
    margin-left: 95px;
    margin-right: auto;
}

.task-list {
    margin: 90px auto 0 auto;
    width: 1306px;
    height: 806px;
    background: #ffffff;
    border: inset 2px #707070;
    border-radius: 4%;
    padding: 33px 57px 33px 57px;
    font-size: 80px;
    color: #686666;
    font-family: KristenITC-regular, serif;
}